There are two prerequistes to getting this project running. First, you need to have tensorflow installed, I used version 1.15, but here is the list of all of my installed modules in case it helps.
-ensorflow-gpu         1.5.0
absl-py                0.9.0
astor                  0.8.1
bleach                 1.5.0
cachetools             4.1.0
certifi                2020.4.5.1
chardet                3.0.4
gast                   0.2.2
google-auth            1.14.1
google-auth-oauthlib   0.4.1
google-pasta           0.2.0
gpt-2-simple           0.7.1
grpcio                 1.28.1
h5py                   2.10.0
html5lib               0.9999999
idna                   2.9
Keras-Applications     1.0.8
Keras-Preprocessing    1.1.0
Markdown               3.2.1
numpy                  1.18.4
oauthlib               3.1.0
opt-einsum             3.2.1
pip                    20.1
protobuf               3.11.3
pyasn1                 0.4.8
pyasn1-modules         0.2.8
PyQt5                  5.14.2
PyQt5-sip              12.7.2
regex                  2020.4.4
requests               2.23.0
requests-oauthlib      1.3.0
rsa                    4.0
scipy                  1.4.1
setuptools             46.1.3
six                    1.14.0
tensorboard            1.15.0
tensorflow             1.15.0
tensorflow-estimator   1.15.1
tensorflow-gpu         1.15.0
tensorflow-tensorboard 1.5.1
termcolor              1.1.0
toposort               1.5
tqdm                   4.46.0
urllib3                1.25.9
Werkzeug               1.0.1
wheel                  0.34.2
wrapt                  1.12.1
Secondly, you need to download a gpt model from open-ai. The reason we do not provide the model is that it is too large to upload and github would not allow us. The project uses the 355M version of the model but you can just as easily use any of the versions and simply change the model version in the code. You can easily download any of the models from here https://github.com/nshepperd/gpt-2 Once you generate the essay, it will show up in the project folder under the name "my_essay.txt" There was a slight effort made in terms of formatting so copy the essay and paste it into a word processor such as Google Docs or Microsoft Word to see the formatting.
